<!DOCTYPE html>
<html>
    <head>
<meta charset="utf-8" />
        <title>Home Page - EnergieEros</title>
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/js/site.js"></script>
        <script src="~/js/cart.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    </head>
<body>
    <header>
        <h1>EnergieEros</h1>
    </header>

    @if (User.Identity.IsAuthenticated)
    {
        <section class="products" id="productContainer">
            <!-- Products will be dynamically loaded here -->
        </section>
    }
    else
    {
        <!-- Show a message to prompt users to log in -->
        <section class="login-prompt">
            <p>You must log in to view the products.</p>
            <!-- Add a login link or button here -->
            <a asp-area="" asp-controller="Home" asp-action="Login">Login</a>
        </section>
    }
</body>
</html>